.git
.github
.idea
.vscode
**/__pycache__
**/*.pyc
**/.pytest_cache
backend/.venv
backend/private
frontend/node_modules
frontend/dist
data
*.db
*.sqlite
*.sqlite3
*.zip
*.history.json
docs/screenshots
